---
layout: default
---


<div class="post">
  <div class="post-hr">
    <!-- <div style="text-align: center;">
      <ins class="kakao_ad_area" style="display:none;"
      data-ad-unit = "DAN-kkVKwZiSfGBWF8WM"
      data-ad-width = "728"
      data-ad-height = "90"></ins>
      <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
    <hr> -->
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% if page.tags %} | 
  {% for tag in page.tags %}
    <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
  {% endfor %}
  {% endif %}
  <article>
    {{ content }}
  </article>
</div>

<div class="post-hr">
  <!-- <hr> -->
  <div style="text-align: center;">
    <!-- <ins class="kakao_ad_area" style="display:none;"
    data-ad-unit = "DAN-y0R9Sqd79cU8ssUJ"
    data-ad-width = "250"
    data-ad-height = "250"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script> -->
  </div>
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="post-hr">
  <hr>
  <div style="text-align: center;">
    <!-- <ins class="kakao_ad_area" style="display:none;"
data-ad-unit = "DAN-VswJveX4b5UUrqrp"
data-ad-width = "728"
data-ad-height = "90"></ins>
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script> -->
  </div>
</div>
